button{
    all: unset;
    background-color: lightskyblue;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover{
    background-color: skyblue;
    opacity: .8;
}

button:disabled,
button:disabled:hover{
    background-color: #e5e5e5;
    opacity: .8;
    color: #333;
    cursor:default;
}

.square{
    width: 80px;
    height: 80px;
}